WORDPRESS_IMAGE_TAG=php8.1-apache
WP_HTTP_PORT=10122
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_ROOT_PASSWORD=root
PARROTPOSTER_DOMAINS=https://pp.l2.vettich.ru
PARROTPOSTER_LOG_ENABLED=true
