.parrotposter-copy {
	position: relative;
	padding-right: 22px;
	background-image: url(../images/clipboard_copy.svg);
	background-size: auto 20px;
	background-repeat: no-repeat;
	background-position: right;
	text-decoration: underline dashed;
	text-underline-offset: 4px;
	cursor: pointer;
}

.parrotposter-input__help .parrotposter-copy,
.parrotposter-copy--white {
	background-image: url(../images/clipboard_copy-white.svg);
}

.parrotposter-copy__tooltip {
	position: absolute;
	left: 50%;
	top: calc(100% + 8px);
	transform: translateX(-50%);
	padding: 8px;
	background: #000000;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	width: max-content;
}
