.parrotposter-help__block {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	/* padding: 24px; */
	margin: 24px 0;
	width: 600px;
	max-width: 100%;
}

@media screen and (max-width: 768px) {
	.parrotposter-help__block {
		width: calc(100% - 10px);
	}
}

.parrotposter-help__item {
	background-color: #FFFFFF;
}

.parrotposter-help__title {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	padding: 16px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.parrotposter-help__description {
	max-height: 0;
	padding: 0px 16px 0 16px;
	margin: 0;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}

.parrotposter-help__item--open .parrotposter-help__description {
	max-height: 70vh;
	margin-bottom: 16px;
	overflow: auto;
}

.parrotposter-help__description ul {
	list-style: inherit;
	list-style-position: inside;
}

.parrotposter-help__description ul:first-child {
	margin-top: 0;
}

.parrotposter-help__description ul:last-child {
	margin-bottom: 0;
}
