.parrotposter-input {
	display: flex;
	flex-direction: column;
	padding-bottom: 16px;
}
.parrotposter-input:last-child {
	padding-bottom: 0px;
}
.parrotposter-input--footer {
	padding-top: 10px;
	padding-bottom: 0;
}
.parrotposter-input span {
	color: #000000;
	margin-bottom: 8px;
}
.parrotposter-input input {
	width: 100%;
}

