.parrotposter-modal {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden auto;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999999;
}

.parrotposter-modal--open {
	display: grid;
}
@media screen and (max-width: 500px) {
	.parrotposter-modal--open {
		display: block;
	}
}

.parrotposter-modal__body-overflow {
	overflow: hidden;
}

.parrotposter-modal__container {
	display: flex;
	flex-direction: column;
	gap: 2em;
	position: relative;
	background-color: #fff;
	padding: 2em;
	margin: 3em;
	min-width: 300px;
	max-width: 100%;
	height: max-content;
}

.parrotposter-modal--post .parrotposter-modal__container {
	width: 600px;
}

@media screen and (max-width: 500px) {
	.parrotposter-modal__container {
		margin: 0;
		width: calc(100% - 2em * 2) !important;
		min-height: calc(100vh - 2em * 2);
	}
}

.parrotposter-modal__content {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.parrotposter-modal__close {
	cursor: pointer;
	height: 32px;
	width: 32px;
	background: center / 32px no-repeat url(../images/close.svg);
	display: block;
	position: absolute;
	right: calc(-8px - 32px);
	top: 0;
}
@media screen and (max-width: 500px) {
	.parrotposter-modal__close {
		background-image: url(../images/close-black.svg);
		right: 0;
		padding: 1em;
	}
}

.parrotposter-modal__title {
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
}


.parrotposter-modal__footer {
	display: flex;
	gap: 8px;
}






.parrotposter-modal-footer {
	border-top: 1px solid gray;
	padding-top: 1em;
	display: flex;
	justify-content: right;
	align-items: center;
}

.parrotposter-modal-post-text {
	white-space: pre-wrap;
}

.parrotposter-modal-post-images {
	display: flex;
	flex-wrap: wrap;
}

.parrotposter-modal-post-images img {
	max-width: 4em;
	margin-right: 1em;
	box-shadow: 0px 0px 8px -2px #575757;
}

